<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">

  <title>Pokedex</title>
</head>
<body>
  <h1>Bonjour</h1>

  <ul>
    <% for(let pokemon of pokemons) { %>
      <li><%= pokemon.numero %> : <%= pokemon.nom %></li>
    <% } %>
  </ul>

</body>
</html>